/* App.module.css*/
.container {
  padding: 2.5rem; /* p-10 = 40px */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem; /* gap-5 = 20px */
  text-align: center;
  background: linear-gradient(to bottom right, #0b1d28, #101d2f, #2e1b11);
  color: white;
}
